.navigation {
  /* border: 1px solid red; */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.button {
  height: 30px;
  width: 20px;
  margin-left: 2px;
  font-weight: bold;
  border: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: white;
  color: rgb(19, 164, 212);
}
.buttons {
  width: 90px;
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  height: 32px;
  margin-right: 5px;
  /* margin-top: 18px; */
  background-color: rgb(232, 232, 232);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: gray;
}
.page {
  /* border: 1px solid red; */
  display: inline-block;
}

