.maindiv{
    /* border: 1px solid blue; */
    padding-left:101px;
    padding-right:101px;
    background-color: rgb(252,252,252);
}
.componentdiv{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}