*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.foodheader{
    background-color: rgb(240, 240, 240);
    padding: 20px 0px 50px 200px;
}

.foodheader_2{
    display: flex;
    margin-top: 20px;

}

.foodPara{
    margin-bottom: 20px;
}

.foodDrink_heading{
    font-size: 10px;
    margin-bottom: 20px;

}

.yummyFood{
    color: grey;
    /* margin-top: 20px; */
    
}

.inputBox{
    flex-basis: 300px;
   margin-right: 40px;
}

.selectBox{
    width: 200px;
    border-radius: 10px;
}

.searchButton{
    width: 150px;
    height: 20px;
    font-size: 16px;
    padding: 8px 15px 8px 15px;
    border-radius: 6px;
    margin-left: 30px;
}

.shareButton{
    width: 150px;
    height: 20px;
    margin-left: 100px;
}

/* Sort Button  */

.button_Container{
    text-align: center;
}

.sortButton_1{
    height: 48px;
    width: 130px;
    border: 1px solid #d8d8d8 ;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 10px;
}

.sortButton_2{
    height: 48px;
    width: 130px;
    border: 1px solid #d8d8d8 ;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
/* size='md'
  height='48px'
  width='200px'
  border='2px'
  borderColor='green.500' */